body {
    background: green;
}

input, h1, h2 {
    margin-left: 30%;
    /*margin-right: 30%;*/
    text-align: center;
    width: 40%;
    font-family: Calibri;
    font-weight: 800;
    font-size: xx-large;
}

h1 {
    margin-top: 25%;
}

input[type=number], input[type=button] {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 40px;
    width: 40vw;
    margin-left: 30%;
    border-style: none;
}
/*
input[type=button] {
    padding: 1.5%;
    border-radius: 40px;
    width: 40%;
    border-style: none;
}*/
